/* Importing Nanum Gothic font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

/* Defining custom color variables for use throughout the design */
:root {
  --mountbatten-pink: #9e788fff;
  --glaucous: #7284a8ff;
  --mint: #5fbb97ff;
  --charcoal: #474954ff;
  --ebony: #4b5842ff;
}

/* Global styles: Reset margin and padding, set default font and size */
* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 115%;
}

/* Styling for the header, with flexbox for layout */
header {
  display: flex;
  margin: 2em;
  justify-content: space-between;
  align-items: start;
}

/* Styling the highscore button, including hover effect */
#highscore {
  padding: 0.5em 1em;
  margin-top: 2.5%;
  border-radius: 20px 30px;
  background-color: var(--mountbatten-pink);
  color: white;
  border: black;
  font-size: 75%;
}

#highscore:hover {
  filter: brightness(150%);
}

/* Centering the splash screen content */
.splashscreen {
  text-align: center;
  margin: 2em;
}

/* Initial hiding of the quiz screen */
.quiz {
  display: none;
}

/* Styling the main quiz name */
h1 {
  margin: 2em;
  font-size: xx-large;
  font-weight: 800;
}

/* Styling for the generic text and links in the quiz */
p,
a {
  margin: 0.5em;
}

/* Styling the start button, including hover effect */
.start-button {
  margin: 2em;
  padding: 1em;
  border-radius: 30%;
  background-color: var(--glaucous);
  color: white;
  border: none;
}

/*gives the start button a shadow when the mouse is over it*/
.start-button:hover {
  filter: brightness(120%) drop-shadow(8px 8px 10px grey);
}

/* Styling for the option (answer) buttons, including hover effect */
.option {
  width: 50%;
  padding: 0.25em;
  margin-bottom: 1em;
  border-radius: 30px;
  background-color: plum;
  border: none;
  color: white;
  font-size: 800;
}

.option:hover {
  filter: brightness(110%) drop-shadow(8px 8px 10px rgb(241, 176, 222));
}

/* Styling for subheading, specifically align and font */
h2 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 1em;
}

/* Aligning the options in the center with flexbox */
#options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the final score announcement */
#finalScore {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
}

/* Styling for the high score submission form */
#enterHighScore {
  text-align: center;
  color: var(--ebony);
  font-size: 85%;
}
#enterHighScore input[type="submit"] {
  padding: 0.5em 1em;
  margin-top: 2.5%;
  border-radius: 30px 30px;
  background-color: var(--mountbatten-pink);
  color: white;
  border: black;
  font-size: 75%;
}
#enterHighScore input[type="submit"]:hover {
  filter: brightness(120%);
}

/* Hiding the score submission and high score screens by default */
#submitHighScoreScreen,
#highScoreScreen {
  display: none;
}

/* Styling for buttons used within the high score section */
.highScoreButtons {
  display: flex;
  justify-content: space-evenly;
}

.highScoreButton {
  padding: 0.25em;
  border-radius: 30px;
  background-color: var(--mint);
  color: aliceblue;
  font-size: 90%;
  border: none;
}

.highScoreButton:hover {
  filter: brightness(120%);
}

/* Larger font size for the high score screen heading */
#highScoreScreen h2 {
  font-size: 150%;
}

/* Layout for displaying high scores */
#highScoreContainer {
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
}
