@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
/* colours for the  design*/
:root {
  --mountbatten-pink: #9e788fff;
  --glaucous: #7284a8ff;
  --mint: #5fbb97ff;
  --charcoal: #474954ff;
  --ebony: #4b5842ff;
}
/*font style and size for design*/
* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 115%;
}
/*display for header to allow for space between timer and high score*/
header {
  display: flex;
  margin: 2em;
  justify-content: space-between;
  align-items: start;
}
#highscore {
  padding: 0.5em 1em;
  margin-top: 2.5%;
  border-radius: 20px 30px;
  background-color: var(--mountbatten-pink);
  color: white;
  border: black;
  font-size: 75%;
}

#highscore:hover {
  filter: brightness(150%);
}
/*displayes main screen center and styles it*/
.splashscreen {
  text-align: center;
  margin: 2em;
}

.quiz {
  display: none;
}
/*styles name of quiz*/
h1 {
  margin: 2em;
  font-size: xx-large;
  font-weight: 800;
}
/*styles instructions of quiz*/
p,
a {
  margin: 0.5em;
}
/*give the start button style and changes color and border*/
.start-button {
  margin: 2em;
  padding: 1em;
  border-radius: 30%;
  background-color: var(--glaucous);
  color: white;
  border: none;
}
/*gives the start button a shadow when the mouse is over it*/
.start-button:hover {
  filter: brightness(120%) drop-shadow(8px 8px 10px grey);
}
/*styles answers for quiz*/
.option {
  width: 50%;
  padding: 0.25em;
  margin-bottom: 1em;
  border-radius: 30px;
  background-color: plum;
  border: none;
  color: white;
  font-size: 800;
}

.option:hover {
  filter: brightness(110%) drop-shadow(8px 8px 10px rgb(241, 176, 222));
}
h2 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 1em;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#finalScore {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
}

#enterHighScore {
  text-align: center;
  color: var(--ebony);
  font-size: 85%;
}
#enterHighScore input[type="submit"] {
  padding: 0.5em 1em;
  margin-top: 2.5%;
  border-radius: 30px 30px;
  background-color: var(--mountbatten-pink);
  color: white;
  border: black;
  font-size: 75%;
}
#enterHighScore input[type="submit"]:hover {
  filter: brightness(120%);
}

#submitHighScoreScreen {
  display: none;
}
